{% extends "__layout.twig" %}

{% block content %}
    <div>
        {{ title }}
    </div>
    <ul>
        <a href="{{ imageView }}" style="background-color: #FFF6C2;">Картинка</a>
        <a href="{{ infoView }}" style="background-color: #FFF6C2;">Описание</a>
    </ul>

    {% block container %}
        
    {% endblock %}
    
{% endblock %}