{% extends "__layout.twig" %}

{% block content %}
    <div class="container">
        <h2>Поиск</h2>

        <form action="" method="GET" class="row g-3 align-items-end">
            <div class="col">
                <label for="type" class="form-label">Тип</label>
                <select id="type" name="type" class="form-select">
                    <option value="">Все</option>
                    <option value="Кустовые">Кустовые</option>
                    <option value="Одиночные">Одиночные</option>
                </select>
            </div>
            <div class="col">
                <label for="title" class="form-label">Название</label>
                <input type="text" id="title" name="title" class="form-control">
            </div>
            <div class="col">
                <label for="info" class="form-label">Описание</label>
                <input type="text" id="info" name="info" class="form-control">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </form>

        {% for object in objects %}
            {# {{ object.id }} - #} {{ object.title }}
            <br>
        {% endfor %}
    </div>
{% endblock %}
