{% extends "__object.twig" %}

{% block container %}
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ut, hic magni, sit at vel expedita incidunt fuga pariatur distinctio animi officia voluptatum inventore ea, ratione magnam eum. Autem, similique!</p>
    </div>
{% endblock %}