{% extends "__object.twig" %}

{% block container %}
    <div>
        <p>В естественных местообитаниях розы представляют собой листопадные или вечнозеленые кустарники и кустарнички высотой от 15 см до 3 м и выше, некоторые виды с длинными (до 7-9 м), тонкими, стелющимися по земле или цепляющими за опору побегами. Все розы по форме куста подразделяются на кустовые и плетистые.</p>
{% endblock %}