{% extends "__object.twig" %}

{% block container %}
    <div>
        <p>Ромашка – это абсолютно неприхотливое растение, цветущее в первый год жизни. Имеет тонкий стебель и узкие зеленые листья. Цветки состоят из яркой желтой сердцевины и вытянутых белоснежных лепестков. Они собраны в корзиночки небольшими группами, благодаря чему цветение кажется пышным.</p>
    </div>
{% endblock %}